@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-family: 'Alatsi', sans-serif;
  color: white;
}

#weatherApp {
  display: flex;
}

h4 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 80px;
}

.AboveZero {
  background: #cbba83;
  border-top: 40px solid #ffecb3;
}

.BelowZero {
  background: #81b9bf;
  border-top: 40px solid #b2ebf2;
}

.temperatureData:nth-of-type(1) {
  font-size: 80px;
}