@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

html, body {
  margin: 0;
  padding: 0;
  /* background: #e1e1e1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Alatsi', sans-serif;
  color: white;
}

#weatherApp {
  display: flex;
}

.preloader {
  background-image: url(./preloader/2.gif);
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);

}

.searchGroup {
  position: relative;
}

.locationsCard {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 80%;
  margin-top: 10px;
}

.weatherCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3% 10% 5% 10%;

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
}

.AboveZero {
  background: #d1ac32;
}

.BelowZero {
  background: #81b9bf;
}

.nextHoursWeather {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

h2, h3, h4, p {
  margin: 0;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 200;
  text-transform: uppercase;
}

.temperature {
  font-size: 24px;
  margin-bottom: 10px;
}

.temperature-big {
  transform: translateX(30px);
  font-size: 120px;
}

h3 {
  font-size: 48px;
  margin-top: 30px;
}

.weatherConditions-big {
  font-size: 26px;
}

.utcTime {
  color: rgb(99, 99, 99);
  font-size: 14px;
}

.utcTime-big {
  color: rgb(99, 99, 99);
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
}

input, button {
  /* background: #ffe48a; */
  border: none;
  color: rgb(99, 99, 99);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

button {
  text-align: left;
}

input {
  margin-top: 5px;
  border: 2px solid white;
}

input:focus {
  outline: none;
}

button:focus {
  background-color: #d1ac32;
  outline: none;
  color: white;
}

.weatherIcon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  fill: white;
  margin-bottom: 10px;
}

.weatherIcon-big{
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
}

.clear {
  background-image: url(./icons/./sunny.svg);
}

.isolated-clouds {
  background-image: url(./icons/isolated-clouds.svg);
}

.scattered-clouds {
  background-image: url(./icons/scattered-clouds.svg);
}

.overcast {
  background-image: url(./icons/overcast.svg);
}

.light-rain, .moderate-rain, .heavy-rain {
  background-image: url(./icons/rain.svg);
}

.light-snow, .moderate-snow, .heavy-snow {
  background-image: url(./icons/snow.svg);
}

.sleet {
  background-image: url(./icons/snow.svg);
}