@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

html, body {
  margin: 0;
  padding: 0;
  /* background: #e1e1e1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Alatsi', sans-serif;
  color: white;
}

#weatherApp {
  display: flex;
}

.preloader {
  background-image: url(./preloader/2.gif);
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);

}

h2, h3, h4, p {
  margin: 0;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 200;
}

h2 {
  font-size: 18px;
  margin: 0 20px 0 0;
}

h3 {
  font-size: 48px;
  margin-top: 30px;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

.timeStamp:nth-of-type(1) h2 {
  transform: translateX(40px);
  margin-bottom: 30px;
  font-size: 120px;
}

.timeStamp:nth-of-type(1) h4 {
  font-size: 18px;
}

.utcTime {
  color: grey;
  font-size: 16px;
}

.locationsCard {
  display: flex;
  flex-direction: column;
  padding: 0;
  transform: translateY(-500px);
}

.weatherCard {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 3% 10% 5% 10%;
  width: 450px;
  height: 800px;
  box-sizing: border-box;
  text-align: center;
}

.AboveZero {
  background: #cbba83;
  border-top: 50px solid #ffecb3;
}

.BelowZero {
  background: #81b9bf;
  border-top: 50px solid #b2ebf2;
}

input, button {
  background: #ffecb3;
  border: none;
  color: grey;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

button {
  text-align: left;
}

input {
  margin-top: 25px;
  border: 2px solid white;
}

input:focus {
  outline: none;
  width: 100%;
}

button:focus {
  background-color: #cbba83;
  outline: none;
  color: white;
}

.conditionSymbol {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  fill: white;
  margin-left: 20px;
}

.timeStamp:nth-of-type(1) .conditionSymbol{
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
}

.clear {
  background-image: url(./icons/./sunny.svg);
}

.isolated-clouds {
  background-image: url(./icons/isolated-clouds.svg);
}

.scattered-clouds {
  background-image: url(./icons/scattered-clouds.svg);
}

.overcast {
  background-image: url(./icons/overcast.svg);
}

.light-rain, .moderate-rain, .heavy-rain {
  background-image: url(./icons/rain.svg);
}

.light-snow, .moderate-snow, .heavy-snow {
  background-image: url(./icons/snow.svg);
}

.sleet {
  background-image: url(./icons/snow.svg);
}